/*                                          */
*
{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic",sans-serif;
}


/* ----------------------- Preloading page ----------------------- */
#loader { height: 1500px;width: 1500px;background-color: white;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 999;transition: all 2s}
#loader img{ position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%)}
/* ----------------------- Links And Logo ----------------------- */
ul
{
 list-style-type: none;
 float: right;
 margin-top: 40px;
 margin-right:10px;
 font-size: 15px;
    
}

ul li{ display: inline-block;}
ul li a { text-decoration: none; color:floralwhite ;padding: 15px 20px; border: 1px solid #6D6D6D;border-radius:5px ;transition: .8s ease; font-family: Century Gothic; font-weight: 600 }
ul li a:hover{
 background-color: #fff; color:#0c88cd; 
}
#logo {margin-left: 60px;width: 140px }
.links {background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));background-color:#74b2d4 ;width: 1349px;}
#activ{background-color: #fff; color:#0c88cd; }

/* ----------------------- First div -----------------------*/
#first { background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("registration.png");width: 1349px;height: 1300px;}
#first img {margin-left: 650px;width: 100px;height: 100px;margin-top: 50px}
#box { background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));width: 400px;height: 1200;margin-left: 500px ;border-radius: 10px ; }
#box p{ color: white;font-size: 40px;text-align: center;font-weight: 500;padding-top: 40px;padding-bottom: 30px;}
#box form label { color: white; font-size: 24px ;margin-left: 35px;display: block}
#box form  input { width: 300px;height: 25px;margin: 5px 0px 30px 35px;background: transparent;border: none;border-bottom: 1px solid #fff;outline: none;font-size: 16px;color:#e0e0e0}
#box a {text-decoration: none;font-size: 16px;color: #fff ;margin-left: 35px}
#box a:hover{background: #39dc79}
#bu { border: none;outline: none;height: 40px; width: 300px;margin: 30px 0px 50px 55px;background: #1c8adb;color: #fff;font-size: 18px;display: block;border-radius: 20px; }
form textarea { margin: 20px 0px 0px 50px; font color:#e0e0e0;font-size: 17px  }
#box span{color:white;font-size: 18px ;padding-left: 30px}
#bu :hover { cursor: pointer;background: #39dc79;color: #000;}
/* ----------------------- Footer  -----------------------*/
#end {background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));background-color:#74b2d4 ;height: 95px;padding:10px 0px 0px 500px }
footer #end img {display: inline-block;padding: 10px 0px 0px 30px }




/* ----------------------- media tag -----------------------*/
@media screen and (max-width:1365px){
    
    #last { width: 100%}
    .links{width: 100%}
    .links ul li a { padding: 5px 10px; }
    /* ----------------------- First Div ----------------------- */
/* ----------------------- First div -----------------------*/
#first { width: 100%}
#first img {margin-left: 40%;width: 10%;height: 10%;}
#box { width: 70%;height: 70%;margin-left: 10% ;border-radius: 10px ; }
#box p{ font-size: 20px;}
#box form label { font-size: 16px ;margin-left: 10%;}
#box form  input { width: 70%;height: 70%;margin: 5px 0px 30px 10%;font-size: 10px;}
#box a {font-size: 10px;margin-left: 10%}
#bu {height: 70%; width: 70%;margin: 30px 0px 50px 10%;font-size: 20px; }
form textarea { margin: 20px 0px 0px 10%;font-size: 12px  }
#box span{color:white;font-size: 14px ;padding-left: 10%px}
       #end {width: 100%;padding-left: 40% }
}

@media screen and (max-width:700px){

    #last { width: 100%}
    .links{width: 100%}
    .links ul li{width: 100%;margin: 10px;}
    .links ul li a { padding: 5px 10px; }
    #end {width: 100%;padding-left: 0%;font-size: 12px }
    
}

